<main role="main">
  <div id="page" class="page">
    <!-- Container -->
    <div class="container">
      <div class="row">
        <!-- START THE FEATURETTES -->
        <hr class="featurette-divider">
        <div class="row featurette">
          <div class="col-md-7">
            <h1 class="title">Angular presentation.</h1>
            <p class="lead">
              Vagrant is a tool for building and managing virtual machine environments in a single workflow.
              With an easy-to-use workflow and focus on automation, Vagrant lowers development environment setup time,
              increases production parity, and makes the "works on my machine" excuse a relic of the past.
            </p>
          </div>
          <div class="col-md-5">
            <img class="profilimage" src="/assets/images/Articles/vagrant/images/vagrant.png" alt="VagrantPicture">
          </div>
        </div>
        <hr class="featurette-divider">
        <hr class="featurette-divider">
        <!-- /END THE FEATURETTES -->
      </div>
    </div>
  </div>
</main>
