<div class="row featurette">
  <div class="col-md-7 first">
    <h2 class="featurette-heading">Damien NOEL
    <span class="text-muted"> BTS SIO student SIO.</span>
    </h2>
    <p class="lead">
      I'm a BTS SIO TEST student (computing services for organizations).
      Interested in Application's development, I chose the SLAM
      specification (computing development).
    </p>

    <p class="lead">
      I'm a computing student, I'm constantly looking to increase my technical baggage.
      Endowed with great relationship skills and experienced in the domain of application development,
      I easily integrate myself in a team project.
    </p>
    </div>
    <div class="col-md-5">
    <img class="profilimage" src="../../../assets/images/DamienNOEL.png" alt="Damien NOEL">
  </div>

</div>


