<main role="main">
  <div id="page" class="page">
      <!-- Container -->
      <div class="container">
          <div class="row">

              <!-- START THE FEATURETTES -->

              <hr class="featurette-divider">

              <div class="row featurette">
                  <div class="col-md-7">
                      <h1 class="title">GitKraken</h1>
                      <p class="lead">
                        GitKraken is a GUI (Graphical User Interface) manager that makes git projects's management a lot easier .
                      </p>


                  </div>
                  <div class="col-md-5">
                      <img class="profilimage" src="/assets/images/Articles/gitkraken/images/gitkraken.png" alt="GitKraken">
                  </div>
              </div>

              <hr class="featurette-divider">



              <hr class="featurette-divider">

              <!-- /END THE FEATURETTES -->

          </div>
      </div>
  </div>
</main>
