<p class="text-center">Experiences</p>
<div class="col-md-12">
  <div class="main-timeline">
    <div class="timeline">
      <span class="timeline-icon"></span>
      <span class="year">January - March 2019</span>
      <div class="timeline-content">
        <h3 class="title">Application developer</h3>
        <span class="post">INTIA (BREST)</span>
        <p class="description"></p>
        <ul>
          <p>
            development of a solution to simplify the users's registration by requesting apis, use of angularJS langage

          </p>
        </ul>
      </div>
    </div>

    <div class="timeline">
      <span class="timeline-icon"></span>
      <span class="year">June - July 2018</span>
      <div class="timeline-content">
        <h3 class="title">Application developer</h3>
        <span class="post">Koust (BREST)</span>
        <p class="description"></p>
        <ul>
          <li>Use of "Oracle Application Express" development tool</li>
          <li>Development of a new web application </li>
          <li>User experience optimization</li>
          <li>User's bug fix</li>
        </ul>
      </div>
    </div>
    <div class="timeline">
      <span class="timeline-icon"></span>
      <span class="year">November 2016</span>
      <div class="timeline-content">
        <h3 class="title">Observation internship</h3>
        <span class="post">CERV (European Virtual Reality Center) PLOUZANE</span>
        <p class="description"></p>
        <ul>
          <li>Initiation to Python</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<p class="text-center">Formation</p>
<div class="col-md-12">
  <div class="main-timeline">
    <div class="timeline">
      <span class="timeline-icon"></span>
      <span class="year">2017-2019</span>
      <div class="timeline-content">
        <h3 class="title">BTS SIO (Computing Services for Organization)</h3>
        <span class="post">"Charles de Foucauld" High School</span>
        <p class="description"></p>
          <ul>
            <li>Specialization in Application and web development</li>
          </ul>
      </div>
    </div>
    <div class="timeline">
      <span class="timeline-icon"></span>
      <span class="year">2014-2017</span>
      <div class="timeline-content">
        <h3 class="title">Scientific baccalaureat</h3>
        <span class="post">"Saint-François Notre-Dame" High School</span>
        <p class="description"></p>
          <ul>
            <li>SVT speciality with ISN option (Computing and Digital Science)</li>
          </ul>
      </div>
    </div>
  </div>
</div>

<hr>
<div class="container">

  <h2>Computing skills</h2>
  <table class="table">
    <tbody>

      <tr>
        <td class="title">Programming</td>
        <td> PHP, Javascript, Angular, HTML5, VB.NET, Oracle Apex, CSS3</td>
      </tr>

      <tr>
        <td class="title">Versionning</td>
        <td> GitKraken</td>
      </tr>

      <tr>
        <td class="title">DataBase</td>
        <td>MySQL, OracleSQL, PL/SQL</td>
      </tr>

      <tr>
        <td class="title">Virtualization</td>
        <td>VirtualBox</td>
      </tr>

    </tbody>

  </table>

</div>

<div class="container">

  <h2>Contact</h2>

  <table class="table">
    <tbody>
      
      <tr>
        <td class="title">Age</td>
        <td>21</td>
      </tr>

      <tr>
        <td class="title">Linkedin</td>
        <td><a class="link"href="https://www.linkedin.com/in/damien-noel-a79206128/?locale=en_US" target="_blank">https://www.linkedin.com/in/damien-noel-a79206128/?locale=en_US</a> </td>
      </tr>

      <tr>
        <td class="title">Mail</td>
        <td>dNoelDev@gmail.com</td>
      </tr>

    </tbody>

  </table>

  </div>


