<main role="main">
    <div id="page" class="page">
        <!-- Container -->
        <div class="container">
            <div class="row">

                <!-- START THE FEATURETTES -->

                <hr class="featurette-divider">

                <div class="row featurette">
                    <div class="col-md-7">
                        <h1 class="title">FireBase</h1>
                        <p class="lead">
                          FireBase is a Hosting service provided by Google whis is meant to be used for Web and mobile application's hosting.
                        </p>


                    </div>
                    <div class="col-md-5">
                        <img class="profilimage" src="/assets/images/Articles/firebase/images/firebase.png" alt="Damien NOEL">
                    </div>
                </div>

                <hr class="featurette-divider">



                <hr class="featurette-divider">

                <!-- /END THE FEATURETTES -->

            </div>
        </div>
